/* Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    img {
        width: 100%;
    }
    header .hero-section-wrap {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    header .hero-section-wrap .left-text h1 {
    }
    header .hero-section-wrap .left-text p {
        width: 65%;
    }
    /*====================== HERO SECTION STYLE END =================*/
    .width-1 {
        width: 100%;
        justify-content: center;
    }
    .width-2 {
        width: 100%;
        align-items: center;
    }
    section.sec-2 {
        margin-top: 90%;
    }
    .sec-2 .flexible {
        display: inline-block;
    }
    .sec-2 .sidebar {
        background: 0;
    }
    .sec-2 .sidebar ul li a {
        border: 1px solid #d1d1d1;
    }
    .sec-2 .right-blogs-wrap {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }
    .btn-box {
        display: block;
        margin-left: 193px;
    }
    footer .footer-info a {
        display: block;
        padding-bottom: 10px;
    }
    footer hr {
        margin: 20px 0;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 577px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
    img {
        width: 100%;
    }

    header .hero-section-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
    header .hero-section-wrap .left-text h1 {
        font-size: 30px;
        line-height: 50px;
    }
    header .hero-section-wrap .left-text p {
        font-size: 14px;
    }
    header .hero-section-wrap .right-img img {
        width: 350px;
        height: 550px;
        vertical-align: middle;
    }
    /*====================== HERO SECTION STYLE END =================*/
    .width-1 {
        width: 100%;
        height: 150px;
        justify-content: center;
    }
    .width-2 {
        width: 100%;
        align-items: center;
    }
    .paddings {
        padding-top: 30px;
    }
    section.sec-2 {
        margin-top: 5%;
    }
    .sec-2 .flexible {
        display: inline-block;
    }
    .sec-2 .sidebar {
        background: 0;
    }

    .sec-2 .sidebar ul {
        display: flex;
        padding-top: 45px;
        justify-content: center;
    }
    .sec-2 .sidebar ul li {
        margin: 20px;
    }
    .sec-2 .sidebar ul li a {
        width: 200px;
        border: 1px solid #d1d1d1;
    }
    .sec-2 .right-blogs-wrap {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
    }

    .sec-2 .right-blogs-wrap .blog-box img {
        width: 100%;
    }
    .btn-box {
        display: block;
        margin-left: 290px;
    }

    /*====================== SECTION-2 STYLE END =================*/
    footer .footer-info a {
        display: inline-block;
        padding-bottom: 10px;
    }
    footer hr {
        margin: 20px 0;
    }
    /*====================== FOOTER SECTION STYLE END =================*/
}